.dark-theme {
  --primaryColor: #1874cd;
  --secondaryColor: #1b1b1b;
  --tertiaryColor: #000000;
  --textColor: #ffffff;

  background-color: var(--tertiaryColor);
  color: var(--textColor);

  a {
    color: var(--primaryColor);
    &:hover {
      color: var(--textColor);
    }
  }

  .header {
    background-color: var(--tertiaryColor);
    color: var(--primaryColor);

    @media (max-width: 768px) {
      background-color: var(--tertiaryColor);
      color: var(--primaryColor);
    }
  }

  .form-control {
    color: var(--textColor);
    background-color: var(--tertiaryColor);
    border: 0;
  }

  .talk-notifications {
    color: var(--textColor);
    background-color: var(--primaryColor);
  }
}
