.light-theme {
  --primaryColor: #1874cd;
  --secondaryColor: #ffffff;
  --tertiaryColor: #ebebeb;
  --textColor: #000000;

  background-color: var(--tertiaryColor);
  color: var(--textColor);

  a {
    color: var(--primaryColor);
    &:hover {
      color: var(--textColor);
    }
  }

  .header {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);

    @media (max-width: 768px) {
      background-color: var(--secondaryColor);
      color: var(--primaryColor);
    }
  }

  .form-control {
    color: var(--textColor);
    background-color: var(--tertiaryColor);
    border: 0;
  }

  .btn-primary {
    color: var(--secondaryColor);
    &:hover {
      color: var(--secondaryColor);
    }
  }
}
