.carousel-stories {
  width: 100%;
  max-width: 300px;
  cursor: pointer;

  @media (max-width: 450px) {
    max-width: 100%;
  }

  .btn-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }

  .btn-close {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .carousel-story {
    width: 100%;
    height: 100vh;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;

    @media (max-width: 450px) {
      max-height: 100vh;
    }

    .carousel-image {
      width: 100%;

      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
    }
  }

  .profile {
    width: 100%;
    z-index: 3;
    position: relative;
    text-align: left;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: inline-block;
      border: 3px solid var(--secondaryColor);
      margin-left: 10px;
      margin-top: 10px;
      cursor: pointer;
    }

    .name {
      padding-left: 10px;
      color: #fff;
      -webkit-text-stroke: 1x black; /* width and color */

      font-weight: 600;
      width: 150px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
