<div class="carousel-stories" *ngIf="stories.length > 0">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let story of stories">
        <div class="carousel-story">
          <div class="profile">
            <img
              [src]="story.user.picture | imagePipe"
              [alt]="story.user.name"
              (click)="goToProfile(story.user.username)"
            />
            <div class="name">{{ story.user.name }}</div>
            <div class="space"></div>
            <button class="btn btn-close" (click)="closeModal()">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <img [src]="story.image | imagePipe" class="carousel-image" />
          <button
            class="btn btn-message"
            (click)="getRoomBeetwenUsers(story.user._id)"
          >
            Enviar mensagem
          </button>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>
