<app-custom-card title="Equipe LordTube">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 my-1" *ngFor="let user of userList">
        <div class="profile">
          <div class="profile">
            <img [src]="user.picture | imagePipe" [alt]="user.name" />
          </div>
          <div class="name" [routerLink]="['p', user.username]">
            {{ user.name }}
          </div>
          <div class="office text-center">
            <span *ngIf="user.level == 10">CEO / Fundador</span>
          </div>
          <div class="social-network text-center" *ngIf="user.level == 10">
            <a
              href="https://www.youtube.com/channel/UCVZI95CL9ugh36qAfNYl2fg"
              target="_blank"
            >
              <img
                src="assets/img/redes-sociais/youtube.png"
                alt="Youtube"
                width="60px"
              />
            </a>
            <a href="https://facebook.com/moisessilvano" target="_blank">
              <img
                src="assets/img/redes-sociais/facebook.png"
                alt="Facebook"
                width="60px"
              />
            </a>
            <a href="https://instagram.com/moisessilvano" target="_blank">
              <img
                src="assets/img/redes-sociais/instagram.png"
                alt="Instagram"
                width="60px"
              />
            </a>
            <a href="https://twitter.com/moisa1997" target="_blank">
              <img
                src="assets/img/redes-sociais/twitter.png"
                alt="Twitter"
                width="60px"
              />
            </a>
            <a
              href="https://www.linkedin.com/in/moisessilvano/"
              target="_blank"
            >
              <img src="assets/img/redes-sociais/linkedin.png" width="60px" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        Seja membro da equipe: <br />

        Envie um email para contato@lordtube.com
      </div>
    </div>
  </div>
</app-custom-card>
