.profile {
    width: 100%;
    position: relative;
    cursor: pointer;

    .cover {
        width: 100%;
        height: 100px;
        position: absolute;
        background-color: var(--tertiaryColor);
        z-index: 2;
        background: var(--coverPerfil);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .profile {
        width: 100%;
        z-index: 3;
        position: relative;
        text-align: center;

        img {
            margin-top: 50px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
            border: 3px solid var(--secondaryColor);
        }
    }

    .name {
        width: 100%;
        font-weight: bold;
        z-index: 3;
        position: relative;
        text-align: center;
        font-size: 18px;
    }
}
