<div class="modal-header">
  <b class="modal-title" id="modal-title">Uma nova versão está disponível</b>
</div>
<div class="modal-body">
  <h3>Deseja atualizar agora?</h3>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="update()">
    Atualizar
  </button>
</div>
