<div class="container-home">
  <app-sharing></app-sharing>
  <app-popular-list></app-popular-list>
  <app-stories></app-stories>
  <div class="d-none d-md-block" *ngIf="!isMobile">
    <app-create-post></app-create-post>
  </div>
  <app-posts></app-posts>
</div>

<button
  class="btn btn-lg btn-primary rounded-circle d-block d-sm-none btn-post"
  (click)="openCreateModal()"
>
  <i class="fa fa-plus"></i>
</button>
