<app-custom-card [hasPadding]="true" [title]="'Administração'">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/']">Início</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/reports']"
        >Denúncias</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/games']">Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/users']">Usuários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/settings']"
        >Configurações</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/partners']"
        >Parceiros</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/notify']"
        >Notificações</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/faq']">Faq</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/data']">Dados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/page']">Páginas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administrator/ads']">Anúncios</a>
    </li>
  </ul>
</app-custom-card>
