<app-custom-card
  [title]="'Advent'"
  [isModal]="true"
  [hasCloseButton]="true"
  (closeButton)="closeModal()"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Título</label>
      <input formControlName="title" class="form-control" />
    </div>
    <div class="form-group">
      <label>Link</label>
      <input formControlName="link" class="form-control" />
    </div>
    <div class="form-group">
      <label>Imagem</label>
      <input formControlName="image" class="form-control" />
    </div>
    <div class="form-group">
      <label>htmlCode</label>
      <input formControlName="htmlCode" class="form-control" />
    </div>
    <div class="form-group">
      <label>tipo</label>
      <input formControlName="type" class="form-control" />
    </div>
    <div class="form-group">
      <label>Status</label>
      <select formControlName="status" class="form-control">
        <option value="true">Ativo</option>
        <option value="false">Inativo</option>
      </select>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-secondary">
        Salvar
      </button>
    </div>
  </form>
</app-custom-card>
