.custom-list-group-item {
  background-color: none;
  list-style-type: none;
  padding: 5px 10px;
}

.comment {
  display: flex;

  .picture {
    width: 40px;
    height: 40px;
    padding: 5px 0;
    cursor: pointer;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .comment-data {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    width: calc(100% - 100px);
    align-items: center;
    justify-content: left;

    .comment-content {
      word-wrap: break-word;
      width: 90%;

      .comment-text {
        background-color: var(--tertiaryColor);
        padding: 5px 10px;
        border-radius: 10px;
      }

      .user-name {
        font-weight: 600;
        float: left;
        text-overflow: ellipsis;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 10px;
      }
    }

    .date {
      font-size: 0.75rem;
      text-align: right;
      padding: 0px 5px;
    }

    .icon-drop {
      font-size: 0.75rem;
      text-align: right;
      padding: 0px 5px;
    }
  }
}

.border--nome {
  border: none;
}
