<li class="custom-list-group-item border--nome">
  <div class="comment">
    <div class="picture" [routerLink]="['/p', comment.user.username]">
      <img
        [src]="comment.user.picture | imagePipe"
        class="user-picture"
        [alt]="comment.user.name"
      />
    </div>
    <div class="comment-data">
      <div class="comment-content">
        <div class="comment-text">
          <a class="user-name" [routerLink]="['/p', comment.user.username]">{{
            comment.user.name
          }}</a>
          <span [innerHTML]="comment.content"></span>
        </div>
      </div>
      <div class="date">
        {{ comment.createAt | customDate }}
      </div>
      <div class="icon">
        <div
          class="custom-dropdown"
          (click)="
            dropDownContent.style.display == 'block'
              ? (dropDownContent.style.display = 'none')
              : (dropDownContent.style.display = 'block')
          "
        >
          <button class="btn custom-dropdown--icon">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div class="custom-dropdown--content" #dropDownContent>
            <button
              class="dropdown-item"
              (click)="openReportModal(comment._id)"
            >
              Denunciar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
