<div class="modal-header" *ngIf="user">
  <b class="modal-title" id="modal-title" *ngIf="!youWatched">Informações</b>
  <b class="modal-title" id="modal-title" *ngIf="youWatched">Você viu...</b>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="user">
  <span id="modal-title" *ngIf="youWatched"
    >Envie uma mensagem e faça uma nova amizade =)</span
  >
  <br /><br />
  <div class="profile">
    <div class="cover"></div>
    <div class="profile">
      <img [src]="imageApi + user.picture" [alt]="user.name" />
    </div>
    <div class="name">{{ user.name }}</div>
  </div>
</div>
<div class="modal-footer" *ngIf="user">
  <button
    type="button"
    class="btn btn-primary"
    (click)="modal.dismiss('cancel click')"
    [routerLink]="['/p', user.username]"
  >
    Visitar perfil
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="getRoomBeetwenUsers()"
    *ngIf="youWatched"
  >
    Enviar mensagem
  </button>
</div>
