<div class="stories" *ngIf="stories.length == 0">
  <div drag-scroll-item class="story" (click)="createStory()">
    <i class="fa fa-plus icon"></i>
  </div>
</div>
<drag-scroll
  class="stories"
  [scrollbar-hidden]="true"
  (reachesRightBound)="scrollFinish($event)"
  *ngIf="stories.length > 0"
>
  <div drag-scroll-item class="story" (click)="createStory()">
    <i class="fa fa-plus icon"></i>
  </div>
  <div
    drag-scroll-item
    class="story"
    *ngFor="let story of stories"
    (click)="openStory(story._id)"
    [ngStyle]="{
      background:
        'url(' + (story.image | imagePipe) + ') center center no-repeat',
      'background-size': 'cover'
    }"
  >
    <img
      class="story-user"
      [src]="story.user.picture | imagePipe"
      (click)="openStory(story._id)"
    />
  </div>
  <div class="story" *ngIf="isLoading">
    <img src="../../../../../../assets/loading.gif" class="w-25 icon" />
  </div>
  <div class="story" *ngIf="isLoading">
    <img src="../../../../../../assets/loading.gif" class="w-25 icon" />
  </div>
  <div class="story" *ngIf="isLoading">
    <img src="../../../../../../assets/loading.gif" class="w-25 icon" />
  </div>
</drag-scroll>
