.stories {
  width: 100%;
  height: 165px;
  margin: 10px 0;

  .drag-scroll-content {
    overflow-x: hidden !important;
  }

  .stories__create {
    border-color: var(--primaryColor) !important;
    color: var(--primaryColor);
    font-size: 1.25rem;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }

  .story {
    margin: 5px 5px;
    border: 2px solid var(--secondaryColor);
    cursor: pointer;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    width: 90px;
    height: 150px;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    font-size: 2rem;
    border-radius: 10px;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    position: relative;

    .icon {
      position: absolute;
    }

    &:hover {
      background-size: 110% 110%;
    }

    .story-user {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 5px;
      z-index: 1;
      border: 1px solid var(--primaryColor);
    }
  }
}
