.post-header {
  display: flex;
  padding: 10px;
  cursor: pointer;

  .user-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
  }

  .post-data {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: calc(100% - 100px);
    .user-name {
      font-weight: 600;
      float: left;
      width: calc(100%);
      text-overflow: ellipsis;
      max-width: 70%;
      white-space: nowrap;
      overflow: hidden;
    }
    .post-date {
      font-size: 0.75rem;
    }
  }

  .report {
    width: 70px;
  }
}

.post-content {
  padding: 10px;
  word-wrap: break-word;
}

.post-content-loading {
  padding: 10px;
  word-wrap: break-word;
  background-color: rgb(184, 184, 184) !important;
  height: 200px;
}

.youtube-player {
  z-index: 1;
}

.youtube-preview {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  position: relative;
  min-height: 250px;
  align-items: center;
  justify-content: center;

  .image {
    top: 0;
    position: absolute;
    height: 250px;
  }

  .icon {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primaryColor);
    border: 2px var(--primaryColor) solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
