<app-custom-card
  [hasPadding]="false"
  [hasHeader]="false"
  [isLoading]="!post"
  [hasLink]="true"
  [linkTitle]="'Reportar'"
>
  <div class="post" *ngIf="!post">
    <div class="post-content-loading"></div>
  </div>
  <div class="post" *ngIf="post">
    <div class="post-header" [routerLink]="['/p', post.user.username]">
      <img
        [src]="post.user.picture | imagePipe"
        class="user-picture"
        [alt]="post.user.name"
      />
      <div class="post-data">
        <div class="user-name" [title]="post.user.name">
          {{ post.user.name }}
        </div>
        <div class="post-date">
          {{ post.createAt | customDate }}
        </div>
      </div>
      <div class="space"></div>
      <div class="report">
        <div
          class="custom-dropdown"
          (click)="
            dropDownContent.style.display == 'block'
              ? (dropDownContent.style.display = 'none')
              : (dropDownContent.style.display = 'block')
          "
        >
          <button class="btn custom-dropdown--icon">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div class="custom-dropdown--content" #dropDownContent>
            <button class="dropdown-item" (click)="openReportModal(post._id)">
              Denunciar
            </button>
            <!-- <button class="dropdown-item">Salvar</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="post-content">
      <div [innerHTML]="post.content | postContent"></div>
    </div>
    <div class="post-image" *ngIf="post.image">
      <img
        [src]="post.image | imagePipe"
        class="w-100"
        alt="Imagem da postagem"
      />
    </div>
    <div class="post-url" *ngIf="post.urlData">
      <div *ngIf="youtubeSrc">
        <!-- <div
          class="youtube-preview"
          *ngIf="!isWatchMode"
          (click)="setWatchMode()"
        >
          <img class="image" [src]="post.urlData.image" />
          <div class="icon">
            <i class="fa fa-play"></i>
          </div>
        </div> -->
        <iframe
          width="100%"
          height="315"
          [src]="youtubeSrc"
          frameborder="0"
          class="youtube-player"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div *ngIf="post.urlData.type != 'YOUTUBE' && post.urlData.image">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <a [href]="post.urlData.url" target="_blank">
                <img
                  [src]="post.urlData.image"
                  class="w-100"
                  [alt]="post.urlData?.title"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-actions text-center my-2">
      <a (click)="openShareModal(post._id)">Compartilhar</a>
    </div>
    <div class="post-comments">
      <app-comments [postId]="post._id"></app-comments>
    </div>
  </div>
</app-custom-card>
