<div class="bloco p-2">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Contato</h4>
    </div>
  </div>
</div>

<div class="bloco p-2 text-center">
  <div class="row">
    <div class="col-12">
      <h3>Entre em contato através das redes sociais e tire suas dúvidas</h3>
    </div>
    <div class="col-12">
      <img src="https://yt3.ggpht.com/a-/AN66SAwCDJKQishQrI90NqJ1tOHFKAxpSL46wjC7Ng=s900-mo-c-c0xffffffff-rj-k-no"
        width="150px" style="border-radius: 50%;">
    </div>
    <div class="col-12">
      <h4>Moisés Silvano</h4>
    </div>
    <div class="col-12">
      <a href="https://www.youtube.com/channel/UCVZI95CL9ugh36qAfNYl2fg" target="_blank">
        <img src="assets/img/redes-sociais/youtube.png" width="60px">
      </a>
      <a href="https://facebook.com/moisessilvano" target="_blank">
        <img src="assets/img/redes-sociais/facebook.png" width="60px">
      </a>
      <a href="https://instagram.com/moisessilvano" target="_blank">
        <img src="assets/img/redes-sociais/instagram.png" width="60px">
      </a>
      <a href="https://twitter.com/moisa1997" target="_blank">
        <img src="assets/img/redes-sociais/twitter.png" width="60px">
      </a>
      <a href="https://www.linkedin.com/in/moisessilvano/" target="_blank">
        <img src="assets/img/redes-sociais/linkedin.png" width="60px">
      </a>
    </div>
  </div>
</div>