<main class="main-container">
  <div class="gadget"></div>

  <div class="content">
    <app-custom-card [title]="''">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <img src="../../../../assets/img/sad.png" class="w-50" />
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <h2>Página não encontrada</h2>
            <a href="/">Ir para o início</a>
          </div>
        </div>
      </div>
    </app-custom-card>
  </div>

  <div class="gadget"></div>
</main>
