<div class="bloco p-2">
  <div class="row">
    <div class="col-12 text-center">
    	<h4>Alterar Senha</h4>
    </div>
  </div>
</div>

<div class="bloco p-2">
	<form (ngSubmit)="onSubmit()" [formGroup]="usuarioForm">
	  <div class="row">
	    <div class="col-12">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Senha Antiga"
              formControlName="oldPassword"
            />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Nova Senha"
              formControlName="newPassword"
            />
          </div>          
          <div class="form-group">
            <input
              type="submit"
              value="Salvar"
              class="btn btn-primary float-right"
            />
          </div>		  	  
	    </div>
	  </div>
  </form>
</div>