<app-custom-card *ngIf="user" [hasPadding]="false" [isLoading]="isLoading">
  <div class="profile">
    <div class="cover">
      <div
        class="update-image"
        *ngIf="isEditableProfile"
        (click)="openUpdateCover()"
      >
        <i class="fa fa-camera"></i>
      </div>
    </div>
    <div class="image">
      <div
        class="update-image"
        *ngIf="isEditableProfile"
        (click)="openUpdatePicture()"
      >
        <i class="fa fa-camera"></i>
      </div>
      <img [src]="user.picture | imagePipe: 'profile'" [alt]="user.name" />
    </div>
    <div class="name">{{ user.name }}</div>
    <div
      class="description"
      *ngIf="user.description"
      [innerHTML]="user.description"
    ></div>
    <div class="text-center py-3" *ngIf="isEditableProfile">
      <button class="btn btn-secondary" [routerLink]="['/settings']">
        Editar
      </button>
    </div>
    <div class="text-center py-3" *ngIf="!isEditableProfile">
      <button class="btn btn-secondary" (click)="getRoomBeetwenUsers()">
        Enviar mensagem
      </button>
    </div>
    <!-- <div class="container">
      <div class="row">
        <div class="col-12">
          <span>Nascido(a) em 9 de setembro de 1997</span>
          <span>Ingressou em Setembro de 2019</span>
        </div>
      </div>
    </div> -->
  </div>
</app-custom-card>

<app-posts-user *ngIf="user" [userId]="user._id"></app-posts-user>
