<app-custom-card
  [isModal]="true"
  [hasMargin]="false"
  [hasPadding]="false"
  [hasCloseButton]="true"
  (closeButton)="closeModal()"
>
  <div class="light-theme">
    <app-create-post (postCreated)="closeModal()"> </app-create-post>
  </div>
</app-custom-card>
