<app-custom-card title="Publicidade" *ngIf="ads">
  <div class="container">
    <div class="row">
      <div [ngClass]="{ 'col-md-8 offset-md-2': !isFull, 'col-md-12': isFull }">
        <div *ngIf="ads.type == 1">
          <a [href]="ads.link" target="_blank">
            <img [src]="ads.image" width="100%" [alt]="ads.title" />
          </a>
        </div>
        <div *ngIf="ads.type == 2">
          <div [innerHTML]="ads.htmlCode"></div>
        </div>
      </div>
    </div>
  </div>
</app-custom-card>
