<div class="my-2">
  <b>
    Denúncias
  </b>
</div>

<div class="py-2">
  <button class="btn btn-primary" (click)="getReportsByStatus(false)">
    Concluidos
  </button>
  <button class="btn btn-secondary ml-2" (click)="getReportsByStatus(true)">
    Pendentes
  </button>
</div>

<div class="py-2">
  <span>Denúncias </span>
  <span *ngIf="status">pendentes</span>
  <span *ngIf="!status">concluídas</span>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getReports()"
>
  <app-custom-card
    *ngFor="let report of reports"
    [title]="'Denúncia de ' + report.user.name"
  >
    <div class="report">
      <div>
        <small>{{ report.createAt | date: "dd/MM/yyyy HH:mm:ss" }}</small>
        <div>
          {{ report.message }}
        </div>
        <div>{{ report.type }} / {{ report.item }}</div>
        <div *ngIf="report.resolved">
          <small
            >Resolvido por: {{ report.user.name }} em:
            {{ report.resolved.date | date: "dd/MM/yyyy HH:mm:ss" }}</small
          >
        </div>
      </div>
      <div class="space"></div>
      <div>
        <button
          class="btn btn-primary btn-sm"
          *ngIf="!report.resolved"
          (click)="resolveReport(report._id)"
        >
          Marcar como resolvido
        </button>
      </div>
    </div>
  </app-custom-card>
</div>

<div *ngIf="isLoading" class="mb-2">Carregando...</div>
<div *ngIf="isFinish" class="mb-2">
  Não há mais resultados para serem exibidos
</div>
