<app-custom-card [hasPadding]="true" [hasHeader]="false">
  <ul class="nav flex-column" *ngIf="user">
    <li class="nav-item" *ngIf="user.username">
      <a class="nav-link" [routerLink]="['/p/', user.username]">Meu perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/share']">Fique entre os populares</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/activity']">Minha atividade</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/saved']">Itens salvos</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/settings']">Configurações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/help']">Ajuda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Desconectar</a>
    </li>
  </ul>
</app-custom-card>
