[contenteditable="true"]:empty:not(:focus):before {
  // content: attr(data-text);
  cursor: text;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.container-content {
  position: relative;
  z-index: 9999;
}

.editor-content {
  width: 100%;
  min-height: 50px;
  font-size: 1.5rem;
  border: 0;
  padding: 10px;
  z-index: 9999;

  @media (max-width: 768px) {
    min-height: 120px;
  }
}

.container-content-placeholder {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 50px;
  font-size: 1.5rem;
  border: 0;
  padding: 10px;
  padding-left: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 10px;
  margin-bottom: 5px;

  .post-actions {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      width: 50%;
    }

    .action-icon {
      margin: 0 15px;
      font-size: 1.5rem;
    }

    .colors {
      background: #bc4e9c;
      background: -webkit-linear-gradient(to right, #bc4e9c, #f80759);
      background: linear-gradient(to right, #bc4e9c, #f80759);
      color: #fff;
      padding: 5px;
      font-size: 1.2rem;
      border-radius: 15px;
      border: 1px solid #fff;
      display: none;
    }
  }

  .btn-publish {
    @media (max-width: 768px) {
      width: 50%;
    }
  }
}

.is-invalid {
  border: 1px solid red;
  color: red;
}

.is-invalid-counter {
  color: red;
}
