<app-custom-card
  [isLoading]="isLoading"
  [hasPadding]="false"
  [hasMargin]="false"
  [hasHeader]="false"
>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="postForm">
      <input
        type="file"
        class="d-none"
        #uploader
        (change)="fileChangeEvent($event)"
        accept="image/x-png,image/jpeg"
      />
      <div class="container-content">
        <div
          contenteditable="true"
          data-text="No que você está pensando?"
          class="editor-content"
          formControlName="content"
        ></div>
      </div>
      <div class="container-content-placeholder">
        <div *ngIf="!hasText">
          No que você está pensando?
        </div>
      </div>

      <!-- <div class="text-right pb-3" *ngIf="contentLength">
        <small [ngClass]="{ 'is-invalid-counter': contentLength >= 280 }">
          {{ contentLength }} / 280
        </small>
      </div> -->
      <div class="form-group" *ngIf="!isPosted">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="false"
          [resizeToWidth]="300"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
      <div class="form-group actions">
        <button
          class="btn btn-secondary"
          type="button"
          (click)="uploader.click()"
          ngbTooltip="Inserir imagem"
        >
          <i class="fa fa-image"></i>
        </button>
        <div class="space"></div>
        <button class="btn btn-primary btn-publish" type="submit">
          Publicar
        </button>
      </div>

      <!-- <div class="emojiList" *ngIf="emojiListIsOpen">
      <emoji-mart
        title="Pick your emoji…"
        (emojiClick)="addEmoji($event)"
        [isNative]="true"
        [showSingleCategory]="true"
        [perLine]="8"
      ></emoji-mart>
    </div> -->
    </form>
  </div>
</app-custom-card>
