<div [class]="'custom-card ' + cardClass">
  <div class="loading" *ngIf="isLoading">
    <img src="../../../../assets/loading.gif" width="100px" alt="Carregando" />
  </div>
  <div [class]="' card-header ' + headerClass" *ngIf="hasHeader">
    <i
      *ngIf="hasGoBackAction"
      class="fa fa-arrow-circle-left back-icon"
      (click)="infoGoBackAction()"
    ></i>
    <div *ngIf="title" class="title">{{ title }}</div>
    <div class="status--online" *ngIf="isOnline"></div>
    <div class="space"></div>
    <a class="link" (click)="infoCloseButton()" *ngIf="hasLink">{{
      linkTitle
    }}</a>
    <i
      *ngIf="hasCloseButton"
      class="fa fa-times-circle close-icon"
      (click)="infoCloseButton()"
    ></i>
  </div>
  <div [class]="'card-content ' + contentClass">
    <ng-content></ng-content>
  </div>
</div>
