.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  // background-color: var(--secondaryColor);
  opacity: 0.5;
  border-radius: 10px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-background {
  background-color: none !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.custom-card {
  background-color: var(--secondaryColor);
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
  position: relative;

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);

    .space {
      flex: 1 1;
    }

    .title {
      color: var(--textColor);
      font-weight: 500;
      text-overflow: ellipsis;
      max-width: 70%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .card-header--padding {
    padding: 5px 10px;
  }

  .card-content {
  }

  .card-content--padding {
    padding: 10px;
  }
}

.border--top {
  border-top: 4px solid var(--primaryColor);
}

.card--margin {
  margin: 10px 0;
}

.status--online {
  margin: 0 10px;
  font-size: 0.85rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(16, 196, 0);
  color: rgb(44, 0, 0);
}

.back-icon {
  font-size: 2rem;
  margin-right: 10px;
  cursor: pointer;
}

.close-icon {
  font-size: 2rem;
  margin-left: 10px;
  cursor: pointer;
}

.custom-card--modal {
  min-width: 500px;
  max-height: 100vh;
  position: relative;
  border-radius: 0;

  @media (max-width: 768px) {
    min-width: 300px;
  }

  @media (max-height: 100vh) {
    overflow-y: auto;
    overflow-x: none !important;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px var(--primaryColor);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(73, 73, 73, 0.8);
      -webkit-box-shadow: inset 0 0 6px var(--tertiaryColor);
    }

    // .card-header {
    //   position: sticky;
    //   width: 100%;
    //   top: 0;
    //   background-color: var(--secondaryColor);
    // }
  }
}

.has-focus {
  z-index: 11 !important;
}

.focus {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.modal-fullscreen {
  z-index: 9999;
  width: 100% !important;
  height: 100vh !important;
}
