<div class="initial-container">
  <div class="initial-container-row">
    <div class="initial-content background-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <ul class="list-content text-left">
              <li class="list-content__item">
                <img
                  class="logo"
                  src="../../../../../assets/img/lordtube-youtube.png"
                />
              </li>
              <li class="list-content__item">
                Divulgue seus vídeos do YouTube
              </li>
              <li class="list-content__item">Conheça outros influenciadores</li>
              <li class="list-content__item">Junte-se a galera</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="initial-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="my-3 py-3">
              <h1>Conecte-se</h1>
              <h3>e fique por dentro do mundo dos influenciadores digitais</h3>
            </div>
            <div class="my-3 py-3">
              <p>Cadastre-se agora mesmo</p>
              <button
                class="btn btn-primary w-100 py-2 my-1"
                [routerLink]="['/register']"
              >
                Cadastre-se
              </button>
              <button
                class="btn btn-secondary w-100 py-2 my-1"
                [routerLink]="['/login']"
              >
                Já tenho cadastro
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="initial-container-row">
    <div class="footer">
      Copyright©2016-2020. Todos os direitos reservados.
    </div>
  </div>
</div>
