.logo {
  font-size: 2rem;
  text-align: center;
  padding: 10px 0;
  color: var(--secondaryColor);
  width: 100%;
  font-weight: bold;

  img {
    width: 250px;
  }
}

.miss-password {
  padding: 5px 0;
}
