<div class="logo" [routerLink]="['/']">
  <img src="../../../../../assets/img/logo-light.webp" />
</div>
<app-custom-card [isLoading]="submitted" [title]="'Conecte-se conosco'">
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="text"
        class="form-control"
        id="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
      />
      <div
        class="invalid-feedback"
        *ngIf="f.email.errors && f.email.errors.required"
      >
        Digite seu e-mail
      </div>
      <div
        class="invalid-feedback"
        *ngIf="f.email.errors && f.email.errors.email"
      >
        Digite um e-mail válido
      </div>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <div class="input-group">
        <input
          [type]="passwordShow ? 'text' : 'password'"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.password.errors && f.password.touched
          }"
          formControlName="password"
          id="password"
        />
        <div class="input-group-append">
          <button type="button" class="btn btn-icon-default">
            <i
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !passwordShow,
                'fa-eye': passwordShow
              }"
              (click)="togglePasswordShow()"
            ></i>
          </button>
        </div>
        <div
          class="invalid-feedback"
          *ngIf="f.password.errors && f.password.errors.required"
        >
          Digite sua senha
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-middle">
      <a [routerLink]="['/recover-password']" class="miss-password"
        >Esqueci a senha</a
      >
      <div class="space"></div>
      <button class="btn btn-primary">Entrar</button>
    </div>
  </form>
  <div class="row">
    <div class="col text-center py-3">
      <div>Ainda não tem uma conta?</div>
      <a [routerLink]="['/register']">Cadastre-se</a>
    </div>
  </div>
</app-custom-card>
