<form (ngSubmit)="onSubmit()" [formGroup]="privacyForm">
  <div class="form-group">
    <label for="profile">Quem pode ver meu perfil?</label>
    <select
      class="form-control"
      id="exampleFormControlSelect1"
      formControlName="profile"
    >
      <option>Todos</option>
      <option>Apenas usuários logados</option>
    </select>
  </div>
  <div class="form-group">
    <label for="profile">Quem pode ver minhas postagens?</label>
    <select
      class="form-control"
      id="exampleFormControlSelect1"
      formControlName="profile"
    >
      <option>Todos</option>
      <option>Apenas usuários logados</option>
    </select>
  </div>
  <div class="form-group">
    <label for="profile">Quem pode me ver online?</label>
    <select
      class="form-control"
      id="exampleFormControlSelect1"
      formControlName="profile"
    >
      <option>Todos</option>
      <option>Apenas usuários logados</option>
    </select>
  </div>
  <div class="form-group text-right">
    <input type="submit" value="Salvar alterações" class="btn btn-primary" />
  </div>
</form>
