.create-comment {
  padding: 0 10px;
}

.comments {
  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--primaryColor);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(73, 73, 73, 0.8);
    -webkit-box-shadow: inset 0 0 6px var(--tertiaryColor);
  }
}
