<div class="create-comment">
  <app-create-comment
    [postId]="postId"
    (commentCreated)="commentCreated()"
  ></app-create-comment>
</div>

<ul
  class="list-group comments"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="10"
  (scrolled)="getComments()"
  [scrollWindow]="false"
>
  <app-comment
    *ngFor="let comment of commentList"
    [comment]="comment"
  ></app-comment>
  <div class="text-center" *ngIf="isLoading">Carregando...</div>
</ul>
