<form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
  <app-custom-card
    [hasHeader]="false"
    [isLoading]="isLoading"
    [removeBackground]="true"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center d-none d-md-flex info align-middle">
          <h3>
            Criar uma senha forte e uma conta mais segura
          </h3>
          <i class="fa fa-key key-icon"></i>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="oldPassword">Senha atual</label>
            <div class="input-group">
              <input
                [type]="oldPasswordShow ? 'text' : 'password'"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.oldPassword.errors && f.oldPassword.touched
                }"
                formControlName="oldPassword"
                id="oldPassword"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !oldPasswordShow,
                      'fa-eye': oldPasswordShow
                    }"
                    (click)="toggleOldPasswordShow()"
                  ></i>
                </span>
              </div>
              <div
                class="invalid-feedback"
                *ngIf="f.oldPassword.errors && f.oldPassword.errors.required"
              >
                Digite sua senha atual
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword">Nova senha</label>
            <div class="input-group">
              <input
                [type]="newPasswordShow ? 'text' : 'password'"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.newPassword.errors && f.newPassword.touched
                }"
                formControlName="newPassword"
                id="newPassword"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !newPasswordShow,
                      'fa-eye': newPasswordShow
                    }"
                    (click)="toggleNewPasswordShow()"
                  ></i>
                </span>
              </div>
              <div
                class="invalid-feedback"
                *ngIf="f.newPassword.errors && f.newPassword.errors.required"
              >
                Digite uma nova senha
              </div>
            </div>
          </div>
          <password-strength-meter
            [password]="f.newPassword.value"
          ></password-strength-meter>
          <small>
            Sua senha deve ter entre 8 e 20 caracteres, conter letras e números
            e não deve conter espaços, caracteres especiais ou emoji.
          </small>
          <div class="form-group py-3">
            <label for="newPasswordConfirm"
              >Digite a nova senha novamente</label
            >
            <div class="input-group">
              <input
                [type]="newPasswordConfirmShow ? 'text' : 'password'"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    f.newPasswordConfirm.errors && f.newPasswordConfirm.touched
                }"
                formControlName="password"
                formControlName="newPasswordConfirm"
                id="newPasswordConfirm"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !newPasswordConfirmShow,
                      'fa-eye': newPasswordConfirmShow
                    }"
                    (click)="toggleNewPasswordConfirmShow()"
                  ></i>
                </span>
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  f.newPasswordConfirm.errors &&
                  f.newPasswordConfirm.errors.required
                "
              >
                Digite novamente sua nova senha
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  f.newPasswordConfirm.errors &&
                  f.newPasswordConfirm.errors.passwordNotMatch
                "
              >
                Confirmação de senha inválida
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group text-right">
        <input
          type="submit"
          value="Salvar alterações"
          class="btn btn-primary"
        />
      </div>
    </div>
  </app-custom-card>
</form>
