<app-custom-card [hasPadding]="true" [title]="'LordTube'">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/games']">Jogos Online</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">Sobre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/team']">Equipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/partners']">Parceiros</a>
    </li>
  </ul>
</app-custom-card>
