<app-custom-card title="Jogue no LordTube">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3" *ngFor="let game of games">
        <div class="game" [routerLink]="['/games/play', game._id]">
          <img [src]="game.image" class="w-100" />
          <div class="game__title">{{ game.title }}</div>
        </div>
      </div>
    </div>
  </div>
</app-custom-card>
