<form (ngSubmit)="onSubmit()" [formGroup]="commentForm">
  <div class="form-group">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="content"
        placeholder="Comente algo aqui..."
        rows="2"
      />
      <div class="input-group-append">
        <button class="btn btn-icon-default" type="submit">
          <i class="fa fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="emojiList" *ngIf="emojiListIsOpen">
    <emoji-mart
      title="Pick your emoji…"
      (emojiClick)="addEmoji($event)"
      [isNative]="true"
      [showSingleCategory]="true"
      [perLine]="8"
    ></emoji-mart>
  </div>
</form>
