.emoji {
  border: 1px solid #ccc;
  border-left: 0;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.emojiList {
  width: 100%;
  position: relative;
  background-color: var(--secondaryColor);
  text-align: center;
  z-index: 9999;
}
