.container-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .iframe {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}
