.notifications {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.notification {
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;

  &:hover {
    background-color: rgb(238, 238, 238);
  }

  .notification__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .notification__content {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    flex-direction: column;

    .text {
      width: 100%;
    }

    .date {
      width: 100%;
      font-size: 0.85rem;
    }
  }
}

.not-seen {
  background-color: rgb(238, 238, 238);
}
