<app-custom-card title="Notificações">
  <div class="text-center" *ngIf="notifications.length == 0">
    <span>Não há notificações no momento</span>
  </div>
  <ul class="notifications">
    <li
      *ngFor="let n of notifications"
      class="item"
      [ngClass]="{ seen: n.isSeen }"
    >
      <div
        class="notification"
        *ngIf="n.type == 'comment'"
        [ngClass]="{ 'not-seen': !n.isSeen }"
        [routerLink]="['/post', n.item]"
      >
        <img
          class="notification__image"
          [src]="n.userSender.picture | imagePipe"
          [alt]="n.userSender.name"
        />
        <div class="notification__content">
          <div class="text">
            <strong>{{ n.userSender.name }}</strong
            >&nbsp;<span>comentou em sua postagem</span>
          </div>
          <div class="date">
            {{ n.updateAt | dateInfoPipe }}
          </div>
        </div>
      </div>
      <div
        class="notification"
        *ngIf="n.type == 'comment-reply'"
        [ngClass]="{ 'not-seen': !n.isSeen }"
        [routerLink]="['/post', n.item]"
      >
        <img
          class="notification__image"
          [src]="n.userSender.picture | imagePipe"
          [alt]="n.userSender.name"
        />
        <div class="notification__content">
          <div class="text">
            <strong>{{ n.userSender.name }}</strong
            >&nbsp;<span>respondeu na postagem que você comentou</span>
          </div>
          <div class="date">
            {{ n.updateAt | dateInfoPipe }}
          </div>
        </div>
      </div>
      <div
        class="notification"
        *ngIf="n.type == 'welcome'"
        [ngClass]="{ 'not-seen': !n.isSeen }"
      >
        <img
          class="notification__image"
          [src]="n.userSender.picture | imagePipe"
          [alt]="n.userSender.name"
        />
        <div class="notification__content">
          <div class="text">
            <span>{{ n.message }}</span>
          </div>
          <div class="date">
            {{ n.updateAt | dateInfoPipe }}
          </div>
        </div>
      </div>
      <div
        class="notification"
        *ngIf="n.type == 'default'"
        [ngClass]="{ 'not-seen': !n.isSeen }"
      >
        <img
          class="notification__image"
          src="../../../../../assets/img/logo-app.png"
          [alt]="'LordTube'"
        />
        <div class="notification__content">
          <div class="text">
            <span>{{ n.message }}</span>
          </div>
          <div class="date">
            {{ n.updateAt | dateInfoPipe }}
          </div>
        </div>
      </div>
    </li>
  </ul>
</app-custom-card>
