<main class="main-container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="gadget" *ngIf="!isMobile">
    <app-ads></app-ads>
    <app-last-users></app-last-users>
  </div>
</main>
