<div class="my-2">
  <b>
    Pages
  </b>
</div>

<div class="my-2 text-right">
  <button class="btn btn-primary" (click)="create()">Novo</button>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getPages()"
>
  <app-custom-card *ngFor="let page of pages" [hasHeader]="false">
    <div class="">
      {{ page.path }}
    </div>
    <div class="">
      <small>
        Criado em: {{ page.createAt | date: "dd/MM/yyyy HH:mm:ss" }} /
        Atualizado em: {{ page.updateAt | date: "dd/MM/yyyy HH:mm:ss" }}
      </small>
    </div>
    <div class="">
      <small>
        Idiomas :
        <span *ngFor="let l of page.translations"> {{ l.language }} </span>
      </small>
    </div>
    <div class="text-right">
      <button class="btn btn-secondary" (click)="edit(page._id)">
        Editar
      </button>
    </div>
  </app-custom-card>
</div>

<div *ngIf="isLoading" class="mb-2">Carregando...</div>
<div *ngIf="isFinish" class="mb-2">
  Não há mais resultados para serem exibidos
</div>
