<app-custom-card
  [title]="'Faq item'"
  [isModal]="true"
  [hasCloseButton]="true"
  (closeButton)="closeModal()"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Url path</label>
      <input formControlName="path" class="form-control" />
    </div>
    <div class="form-group">
      <label>Status</label>
      <select formControlName="status" class="form-control">
        <option value="true">Ativo</option>
        <option value="false">Inativo</option>
      </select>
    </div>
    <div formArrayName="translations">
      <div *ngFor="let city of translations.controls; index as i">
        <hr class="dashed" />
        <div [formGroupName]="i" class="container">
          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <label>Idioma</label>
                <input formControlName="language" class="form-control" />
              </div>
            </div>
            <div class="col-4">
              <div class="form-group text-right">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="removeTranslation(i)"
                >
                  <i class="fa fa-remove"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Título</label>
            <input formControlName="title" class="form-control" />
          </div>
          <div class="form-group">
            <label>Tags</label>
            <input formControlName="tags" class="form-control" />
          </div>
          <div class="form-group">
            <label>Conteúdo</label>
            <textarea formControlName="content" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="addTranslation()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-secondary">
        Salvar
      </button>
    </div>
  </form>
</app-custom-card>
