<app-custom-card
  [title]="'Nova denúncia'"
  [isModal]="true"
  [hasCloseButton]="true"
  (closeButton)="closeModal()"
>
  <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <textarea
        class="form-control"
        formControlName="message"
        placeholder="Digite aqui..."
      ></textarea>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-secondary" (click)="onSubmit()">
        Denúnciar
      </button>
    </div>
  </form>
</app-custom-card>
