.profile {
  width: 100%;
  position: relative;
  cursor: pointer;

  .profile {
    width: 100%;
    z-index: 3;
    position: relative;
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: inline-block;
      border: 3px solid var(--secondaryColor);
    }
  }

  .name {
    width: 100%;
    z-index: 3;
    position: relative;
    text-align: center;
    font-size: 18px;
  }
}
