<div class="modal-header">
  <b class="modal-title" id="modal-title">Bem vindo ao LordTube</b>
</div>
<div class="modal-body">
  <div class="profile">
    <div class="profile" [routerLink]="['p', user.username]">
      <img [src]="user.picture | imagePipe" [alt]="user.name" />
    </div>
    <div class="name" [routerLink]="['p', user.username]">
      Olá, me chamo {{ user.name }} e venho te dar as boas vindas!!<br /><br />
      Espero que você aproveite ao máximo nossa plataforma e faça novos amigos.
    </div>

    <div class="office text-center">
      <br />
      <span><b>Siga nas redes sociais e fique por dentro da novidades</b></span>
    </div>
    <div class="social-network text-center">
      <a
        href="https://www.youtube.com/channel/UCVZI95CL9ugh36qAfNYl2fg"
        target="_blank"
      >
        <img
          src="assets/img/redes-sociais/youtube.png"
          alt="Youtube logo"
          width="50px"
        />
      </a>
      <a href="https://facebook.com/moisessilvano" target="_blank">
        <img
          src="assets/img/redes-sociais/facebook.png"
          alt="Facebook logo"
          width="50px"
        />
      </a>
      <a href="https://instagram.com/moisessilvano" target="_blank">
        <img
          src="assets/img/redes-sociais/instagram.png"
          alt="Instagram logo"
          width="50px"
        />
      </a>
      <a href="https://twitter.com/moisa1997" target="_blank">
        <img
          src="assets/img/redes-sociais/twitter.png"
          alt="Twiiter logo"
          width="50px"
        />
      </a>
      <a href="https://www.linkedin.com/in/moisessilvano/" target="_blank">
        <img
          src="assets/img/redes-sociais/linkedin.png"
          alt="Linkedin logo"
          width="50px"
        />
      </a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="modal.dismiss('cancel click')"
  >
    Fechar
  </button>
</div>
