<app-custom-card title="Faça novos amigos">
  <div class="container">
    <div
      class="row"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="infiniteUsers()"
    >
      <div class="col-6" *ngFor="let user of userList">
        <div class="profile" [routerLink]="['/p', user.username]">
          <div class="profile">
            <img [src]="user.picture | imagePipe" [alt]="user.name" />
          </div>
          <div class="name">{{ user.name }}</div>
        </div>
      </div>
    </div>
  </div>
</app-custom-card>
