<app-custom-card
  [title]="'Atualizar imagem do perfil'"
  [isModal]="true"
  [hasCloseButton]="true"
  (closeButton)="closeModal()"
  [isLoading]="isLoading"
>
  <app-custom-upload
    [aspectRatio]="4 / 4"
    (base64Image)="setBase64Image($event)"
    [maintainAspectRatio]="true"
  ></app-custom-upload>

  <div class="form-group text-right">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      Salvar
    </button>
  </div>
</app-custom-card>
