<app-custom-card title="Usuários populares">
  <div class="container text-center">
    <div class="row" *ngIf="popularList.length == 0">
      <div class="col-12">
        Nenhum usuário encontrado
      </div>
    </div>
    <div
      class="row"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="getRank()"
    >
      <div
        class="col-6 pb-3"
        *ngFor="let p of popularList; let i = index"
        [ngClass]="{
          'offset-3': i == 0
        }"
      >
        <h5 *ngIf="i == 0">{{ p.user.name }} é o mais popular</h5>
        <div class="popular-item" [routerLink]="['/p', p.user.username]">
          <img
            class="popular-item__image"
            [src]="p.user.picture | imagePipe"
            [alt]="p.user.name"
          />
          <div class="points-footer">
            <div
              class="points"
              [ngClass]="{
                'points--gold': i == 0,
                'points--silver': i == 1,
                'points--bronze': i == 2
              }"
            >
              {{ p.count }} ponto{{ p.count > 0 && "s" }}
            </div>
          </div>
        </div>
        <br />
        <b *ngIf="i > 0">{{ p.user.name }}</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a [routerLink]="['/share']">Fique entre os populares</a>
      </div>
    </div>
  </div>
</app-custom-card>
