<div class="my-2">
  <b>
    Jogos
  </b>
</div>

<div class="my-2 text-right">
  <button class="btn btn-primary" (click)="create()">Novo</button>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getGames()"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let game of games">
        <app-custom-card [hasHeader]="false">
          <div class="">
            {{ game.title }}
          </div>
          <div class="" *ngIf="game.image" [routerLink]="['/play', game._id]">
            <a [href]="game.link" target="_blank">
              <img [src]="game.image" class="w-100" [alt]="game.title" />
            </a>
          </div>
          <div class="">
            <small>{{ game.views }} visualizações</small>
          </div>
          <div class="">
            <small>
              Criado em: {{ game.createAt | date: "dd/MM/yyyy HH:mm:ss" }} /
            </small>
          </div>
          <div class="text-right">
            <button class="btn btn-secondary" (click)="edit(game._id)">
              Editar
            </button>
          </div>
        </app-custom-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="mb-2">Carregando...</div>
<div *ngIf="isFinish" class="mb-2">
  Não há mais resultados para serem exibidos
</div>
