<div class="container-auth">
  <div class="auth-form">
    <div class="logo" [routerLink]="['/']">
      Recuperar Senha
    </div>
    <app-custom-card [title]="'Recupere sua senha'">
      <form (ngSubmit)="onSubmit()" [formGroup]="recoverForm">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite seu e-mail"
            id="email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.email.errors && f.email.errors.required"
          >
            Digite seu e-mail
          </div>
          <div
            class="invalid-feedback"
            *ngIf="f.email.errors && f.email.errors.email"
          >
            Digite um e-mail válido
          </div>
        </div>
        <div class="form-group text-center">
          <app-captcha
            (infoCaptchaToken)="infoCaptchaToken($event)"
          ></app-captcha>
        </div>
        <div class="d-flex">
          <div class="space"></div>
          <button class="btn btn-primary">Recuperar</button>
        </div>
      </form>
      <div class="row">
        <div class="col text-center mt-3 py-3">
          <a [routerLink]="['/login']">Voltar para o login</a>
        </div>
      </div>
    </app-custom-card>
  </div>
</div>
