.posts-content {
    min-height: 500px;
}

.options-title {
    background-color: var(--secondaryColor);
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
}

.options-post {
    background-color: var(--secondaryColor);
    // position: -webkit-sticky;
    // position: sticky;
    // top: 49px;
    z-index: 9999;
    padding: 10px 0;

    @media (max-width: 768px) {
        top: 0;
    }
}

.options-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        font-weight: 500;
        font-size: 0.75;
        margin: 0 10px;
        padding-top: 5px;
    }

    .options-list__title {
        position: absolute;
        top: -15px;
    }
}
