<button
  class="btn btn-primary w-100 text-center"
  *ngIf="newPostList.length > 0"
  (click)="showNewPost()"
>
  ({{ newPostList.length }}) NOVAS POSTAGENS
</button>

<div class="posts-content">
  <!-- <div class="options-title">
    Postagens a serem exibidas
  </div> -->
  <!-- <div class="options-post">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="options-list">
            <a class="" href="#">Todas</a>
            <a class="" href="#">Vídeos</a>
            <a class="" href="#">Imagens</a>
            <div class="spacer"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="getPosts()"
  >
    <div *ngFor="let postGroup of postGroups; let i = index">
      <app-post *ngFor="let post of postGroups[i]" [post]="post"></app-post>
      <app-ads [isFull]="false"></app-ads>
    </div>
  </div>

  <app-post *ngIf="isLoading" [post]="null"></app-post>
</div>
