<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/settings/">Meus dados</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/settings/password">Minha senha</a>
    </li>
    <!-- <li class="breadcrumb-item">
      <a routerLink="/settings/privacy">Privacidade</a>
    </li> -->
  </ol>
</nav>
