<app-custom-card
  [title]="'Novo story'"
  [isModal]="true"
  [hasCloseButton]="true"
  (closeButton)="closeModal()"
  [isLoading]="isLoading"
>
  <div class="container text-center light-theme">
    <div class="row" *ngIf="!base64Image">
      <div class="col-12">
        <h4>Bem vindo ao LordTube Stories</h4>
      </div>
      <div class="col-12">
        <span>Para postar selecione uma imagem de sua galeria</span> <br />
        <small
          >Você pode utilizar uma imagem de seus stories do instagram, facebook
          ou qualquer outra rede social.</small
        >
        <br /><br />
        <small>Você pode criar até 5 stories a cada 24 horas</small>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-custom-upload
          (base64Image)="setBase64Image($event)"
          [resizeToWidth]="700"
        ></app-custom-upload>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group text-right">
          <button
            type="button"
            class="btn btn-primary w-100"
            (click)="onSubmit()"
          >
            Publicar
          </button>
        </div>
      </div>
    </div>
  </div>
</app-custom-card>
