<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="logo">
          <img
            src="../../../../assets/img/logo-light.webp"
            class="logo__image"
            [routerLink]="['/home']"
            alt="Logo LordTube"
          />
        </div>
      </div>
      <div class="col" *ngIf="!isLogged"></div>
      <div
        class="col-md-3 justify-content-center align-self-center text-center py-3"
        *ngIf="!isLogged"
      >
        <a [routerLink]="['/login']">Efetuar Login</a> /
        <a [routerLink]="['/register']">Criar conta</a>
      </div>
      <div class="col-md-6 p-0" *ngIf="isLogged">
        <div class="menu">
          <div class="menu--item" [routerLink]="['/home']">
            <div class="menu-icon">
              <i class="fa fa-home"></i>
            </div>
          </div>
          <div class="menu--item" [routerLink]="['/popular']">
            <div class="menu-icon">
              <i class="fa fa-bomb"></i>
            </div>
          </div>
          <div class="menu--item" [routerLink]="['/meet']">
            <div class="menu-icon">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <div class="menu--item" [routerLink]="['/notifications']">
            <app-icon-notifications></app-icon-notifications>
          </div>
          <div class="menu--item" [routerLink]="['/talk']">
            <app-icon-messages></app-icon-messages>
          </div>
          <!-- <div class="menu--item" [routerLink]="['/profile']">
            <div class="menu-icon">
              <i class="fa fa-user"></i>
            </div>
          </div> -->
          <div class="menu--item d-flex d-md-none" [routerLink]="['/main']">
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3" *ngIf="isLogged">
        <div class="search">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Pesquisar no LordTube"
                rows="2"
              />
              <div class="input-group-append">
                <button class="btn btn-icon-default" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
