.header {
  width: 100%;
  z-index: 10;
  height: 50px;

  @media (min-width: 769px) {
    top: 0;
  }

  @media (max-width: 768px) {
    bottom: 0;
  }

  a {
    color: var(--secondaryColor);

    @media (max-width: 768px) {
      color: var(--primaryColor);
    }
  }
}

.logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .logo__image {
    height: 50px;
    position: absolute;
    top: 5px;
    margin: 0 auto;
    cursor: pointer;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-icon-default {
    background-color: var(--tertiaryColor);
  }

  .form-group {
    margin-bottom: 0;
    margin-top: 7px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .menu--item {
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 1.5rem;
      height: 50px;
      color: var(--primaryColor);
      border-bottom: 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.116);
    }
  }

  .menu--active {
    @media (max-width: 768px) {
      color: var(--primaryColor);
      background-color: var(--secondaryColor);
      font-size: 2rem;
    }
  }
}
