<main class="main-container">
  <div class="gadget" *ngIf="!isMobile">
    <app-user-gadget [user]="user"></app-user-gadget>
    <app-user-menu-gadget [user]="user"></app-user-menu-gadget>
    <app-project-menu-gadget></app-project-menu-gadget>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="gadget" *ngIf="!isMobile">
    <app-ads></app-ads>
    <app-last-users></app-last-users>
  </div>
</main>
