<div class="popular">
  <div class="popular-header">
    <div class="popular-title" *ngIf="popularList.length > 0">Populares</div>
    <div class="space"></div>
    <div class="popular-link">
      <a [routerLink]="['/share']">Fique entre os populares </a>
    </div>
  </div>
  <drag-scroll
    class="popular-list"
    [scrollbar-hidden]="true"
    *ngIf="popularList.length > 0"
  >
    <div
      drag-scroll-item
      class="popular-item"
      *ngFor="let p of popularList; let i = index"
      [routerLink]="['/p', p.user.username]"
    >
      <img class="popular-item__image" [src]="p.user.picture | imagePipe" />
      <div class="points-footer">
        <div
          class="points"
          [ngClass]="{
            'points--gold': i == 0,
            'points--silver': i == 1,
            'points--bronze': i == 2
          }"
        >
          {{ p.count }} ponto{{ p.count > 0 && "s" }}
        </div>
      </div>
    </div>

    <div drag-scroll-item class="popular-item" [routerLink]="['/popular']">
      <img class="popular-item__image" />
      <span class="icon">Ver mais</span>
    </div>
  </drag-scroll>
</div>
