.popular {
    margin: 10px 0;
    .popular-header {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;

        .popular-title {
            font-weight: 500;
        }

        .popular-link {
            font-weight: 500;
        }
    }

    .popular-list {
        width: 100%;
        height: 110px;

        .drag-scroll-content {
            overflow-x: hidden !important;
        }

        .popular-item {
            width: 100px;
            height: 100px;
            position: relative;
            margin: 0 5px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            cursor: pointer;

            display: inline-flex !important;
            justify-content: center;
            align-items: center;
            position: relative;

            .icon {
                position: absolute;
                font-weight: 500;
            }

            .popular-item__image {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: rgb(226, 226, 226);
            }

            .points-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .points {
                    width: 80px;
                    background-color: var(--primaryColor);
                    color: #fff;
                    font-size: 0.7rem;
                    text-align: center;
                    border-radius: 0 0 50% 50%;
                }

                .points--gold {
                    background-color: #ffd700;
                    color: #000;
                }

                .points--silver {
                    background-color: #c0c0c0;
                    color: #000;
                }

                .points--bronze {
                    background-color: #cd7f32;
                    color: #fff;
                }
            }
        }
    }
}
