<div class="bloco p-2">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Contador de Inscritos</h4>
    </div>
  </div>
</div>

<div class="bloco p-2">
  <form (ngSubmit)="submit()" [formGroup]="canalForm">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="canalUrl"
        placeholder="Insira a URL do canal contendo HTTPS://"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" id="button-addon2">
          Enviar
        </button>
      </div>
    </div>
    <div
      *ngIf="canalForm.controls.canalUrl.hasError('required') && submitted"
      class="hasError"
    >
      Insira a URL do canal
    </div>
  </form>
  <iframe [src]="urlSafe" class="w-100" height="500" frameborder="0"></iframe>
</div>
