<div class="row p-3" *ngIf="!userTokenId">
  <button
    class="btn text-center w-100 btn-auth conectar"
    [routerLink]="['/auth/login']"
  >
    CONECTAR-SE
  </button>
  <button
    class="btn text-center w-100 btn-auth registrar"
    [routerLink]="['/auth/registrar']"
  >
    REGISTRE-SE
  </button>
</div>

<div class="bloco" *ngIf="user">
  <div class="perfil">
    <div class="capa"></div>
    <div class="foto">
      <img [src]="imageApi + user.picture" />
    </div>
    <div class="nome">{{ user.name }}</div>
    <div class="descricao">{{ user.description }}</div>
  </div>
</div>
<div class="bloco" *ngIf="userTokenId">
  <ul class="list-group">
    <a
      class="list-group-item list-group-item-action"
      *ngIf="user"
      [routerLink]="['/perfil', user.username]"
      >Meu Perfil</a
    >
    <a
      class="list-group-item list-group-item-action"
      [routerLink]="['/settings']"
      >Configurações</a
    >
    <a
      class="list-group-item list-group-item-action"
      [routerLink]="['/usuario/alterar-dados']"
      >Alterar Dados</a
    >
    <a
      class="list-group-item list-group-item-action"
      [routerLink]="['/usuario/alterar-senha']"
      >Alterar Senha</a
    >
    <a
      class="list-group-item list-group-item-action"
      [routerLink]="['/usuario/alterar-imagem-perfil']"
      >Alterar Imagem Perfil</a
    >
    <a
      class="list-group-item list-group-item-action"
      [routerLink]="['/usuario/alterar-imagem-capa']"
      >Alterar Capa</a
    >
  </ul>
</div>
