.btn-auth {
  padding: 15px 0;
  border: 0;
  margin-bottom: 15px;
}

.conectar {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.registrar {
  background-color: rgb(221, 145, 135);
  color: var(--secondaryColor);
}

.perfil {
  .capa {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: var(--tertiaryColor);
    z-index: 2;
    background: var(--coverBackgroundPerfil);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .foto {
    width: 100%;
    z-index: 3;
    position: relative;
    text-align: center;

    img {
      margin-top: 50px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: inline-block;
      border: 3px solid var(--secondaryColor);
    }
  }

  .nome {
    width: 100%;
    font-weight: bold;
    z-index: 3;
    position: relative;
    text-align: center;
    font-size: 18px;
  }

  .descricao {
    width: 100%;
    z-index: 3;
    position: relative;
    text-align: center;
    font-size: 14px;
  }
}
