.chat-container {
  height: calc(100vh - 50px);
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0;
  }

  .talks {
    width: 400px;
    position: relative;
    border-right: 1px solid #ccc;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .chat {
    width: calc(100% - 400px);
    position: relative;
    z-index: 9999;

    @media (max-width: 768px) {
      position: fixed;
      width: 100%;
    }
  }
}
