<ngx-spinner
  type="ball-scale"
  class="myspiner"
  [fullScreen]="false"
></ngx-spinner>
<div class="theme light-theme">
  <div>
    <div class="navbar-header">
      <app-navbar *ngIf="hasToolbar" [isLogged]="isLogged"></app-navbar>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
