.theme {
  min-height: 100vh;
  position: relative;
}

.navbar-header {
  z-index: 10;

  @media (max-width: 768px) {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  @media (min-width: 769px) {
    position: sticky;
    top: 0;
  }
}
