.container-auth {
  background-color: var(--primaryColor);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    position: relative;
  }
}

.auth-form {
  width: 100%;
  max-width: 400px;
  position: relative;
}
