<div class="modal-header">
  <b class="modal-title" id="modal-title">Compartilhar</b>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>
            Url para compartilhamento
          </label>
          <div class="input-group mb-1">
            <input
              type="text"
              class="form-control"
              [value]="link"
              autofocus="off"
            />
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                type="button"
                (click)="copyToClipboard()"
              >
                Copiar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <b>Compartilhe nas redes sociais</b>
      </div>
      <div class="col-12">
        <a
          [href]="'https://api.whatsapp.com/send?text=' + this.link"
          class="pr-2"
          target="_blank"
        >
          <img
            src="assets/img/redes-sociais/whatsapp.png"
            alt="Whatsapp logo"
            width="35px"
          />
        </a>
        <a
          [href]="'https://www.facebook.com/sharer/sharer.php?u=' + this.link"
          target="_blank"
        >
          <img
            src="assets/img/redes-sociais/facebook.png"
            alt="Facebook logo"
            width="60px"
          />
        </a>
        <a [href]="'http://twitter.com/share?url=' + this.link" target="_blank">
          <img
            src="assets/img/redes-sociais/twitter.png"
            alt="Twitter logo"
            width="60px"
          />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="modal.dismiss('')">
    Fechar
  </button>
</div>
