<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <app-custom-card
    [hasHeader]="false"
    [isLoading]="isLoading"
    [removeBackground]="true"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Nome</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched }"
            />
            <div
              class="invalid-feedback"
              *ngIf="f.name.errors && f.name.errors.required"
            >
              Digite seu nome
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label for="birthday">Data de nascimento</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="dd-mm-yyyy"
                formArrayName="birthday"
                name="birthday"
                ngbDatepicker
                #d="ngbDatepicker"
                (click)="d.toggle()"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="username">Nome de usuário</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text" id="basic-addon3">
              lordtube.com/p/
            </div>
          </div>
          <input
            type="text"
            id="username"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.username.errors && f.username.touched
            }"
            formControlName="username"
            required
          />
          <div
            class="invalid-feedback"
            *ngIf="f.username.errors && f.username.errors.required"
          >
            Digite uma nome de usuário
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Descrição</label>
        <textarea
          class="form-control"
          formControlName="description"
          rows="3"
          placeholder="Fale um pouco sobre você"
        ></textarea>
      </div>
      <div class="form-group text-right">
        <input
          type="submit"
          value="Salvar alterações"
          class="btn btn-primary"
        />
      </div>
    </div>
  </app-custom-card>
</form>
