.list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .item {
    border: 1px solid var(--tertiaryColor);
    width: calc(25% - 10px);
    height: 120px;
    margin: 5px;

    @media (max-width: 767px) {
      width: calc(33% - 10px);
      height: 80px;

      &:last-child {
        display: none;
      }
    }
  }
}
