<app-custom-card
  [title]="'Divulgação'"
  [isLoading]="isLoading"
  [hasLink]="true"
  linkTitle="Como divulgar?"
  (closeButton)="toggleBtnHowToShare()"
>
  <div class="alert alert-info" role="alert" *ngIf="isSeenHowToShare">
    <h4 class="alert-heading">Como divulgar?</h4>
    <p>
      <small>
        Para divulgar é simples e divertido = ) <br />
        Insira o link de seu conteúdo e clique em *Enviar*. <br />
        Ao enviar, abrirá o conteúdo de um usuário que divulgou anteriormente,
        quando o proxímo usuário enviar, ele verá o seu link.
        <br /><br />
        Você pode divulgar sua conta do Youtube, Tiktok, Instagram e Facebook
      </small>
    </p>
    <hr />
    <div class="mb-0 d-flex justify-content-center">
      <a [routerLink]="['/help']">Preciso de ajuda</a>
      <div class="space"></div>
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="toggleBtnHowToShare()"
      >
        Entendi
      </button>
    </div>
  </div>

  <div class="col-12 text-center" *ngIf="isSubmitted">
    <h5>Faltam {{ time }} segundos para você divulgar novamente.</h5>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="sharingForm" *ngIf="!isSubmitted">
    <div class="input-group mb-1">
      <input
        type="url"
        class="form-control"
        placeholder="Insira url do youtube, tiktok, instagram ou facebook"
        formControlName="url"
        (focus)="toggleBtnVisility()"
        (blur)="toggleBtnVisility()"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" id="button-addon2">
          Enviar
        </button>
      </div>
      <div class="invalid-feedback" *ngIf="f.url.errors">
        Digite uma url válida
      </div>
    </div>
    <!-- <div class="text-center mb-1" *ngIf="btnVisility">
      <small><a href="#">Configurações</a></small>
    </div> -->
  </form>
  <div class="form-group" *ngIf="showCaptcha && !isSubmitted">
    <small>Valide o reCaptcha para continuar divulgando</small>
    <app-captcha (infoCaptchaToken)="infoCaptchaToken($event)"></app-captcha>
  </div>

  <div class="list-items">
    <div class="item" *ngFor="let item of listShared">
      <app-shared-item [item]="item"></app-shared-item>
    </div>
  </div>
</app-custom-card>
