<div class="bloco p-2">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Alterar Capa</h4>
    </div>
  </div>
</div>

<div class="bloco p-2">

  <input type="file" (change)="fileChangeEvent($event)" />

  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="6 / 3"
    [resizeToWidth]="300" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

  <input type="submit" value="Salvar" class="btn btn-primary float-right" (click)="onSubmit()" />

  <br/><br/>

</div>