<a [href]="item.url" target="_blank">
  <div
    class="shared-item"
    [style.backgroundImage]="'url(' + item.image + ')'"
    [style.backgroundColor]="'#000'"
  >
    <div
      class="network-title"
      [style.backgroundColor]="socialNetwork.backgroundColor"
      [style.color]="socialNetwork.textColor"
    >
      {{ socialNetwork.title }}
    </div>
  </div>
</a>
