.shared-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background: var(--backgroundImage);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

  .network-title {
    text-align: center;
    background-color: red;
    align-self: flex-end;
    width: 100%;
    font-size: 0.75rem;
  }
}
