<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getPostsByUser()"
>
  <app-post *ngFor="let post of postList" [post]="post"></app-post>
</div>

<app-post *ngIf="isLoading" [post]="null"></app-post>
