<app-custom-card [title]="'Parceiros'">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-3 text-center" *ngFor="let p of partners">
        <a [href]="p.link" target="_blank">
          <img [src]="p.banner" [alt]="p.title" class="w-100" />
          <p>{{ p.title }}</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3 text-center">
        <span>Seja parceiro do LordTube</span>
        <p>Envie um e-mail para contato@lordtube.com</p>
      </div>
    </div>
  </div>
</app-custom-card>
