.initial-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--tertiaryColor);

  .initial-container-row {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .footer {
    width: 100%;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .initial-content {
    color: var(--textColor);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    @media (max-width: 768px) {
      width: 100%;
      min-height: 100vh;
    }
  }

  .background-secondary {
    background-color: #000;
    color: var(--secondaryColor);
  }

  .list-content {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .list-content__item {
      margin: 30px 0;
      font-size: 1.5rem;
      color: var(--secondaryColor);
      font-weight: 600;
    }

    .logo {
      width: 150px;
    }
  }
}

.btn-primary {
  background-color: #000;
  border: 1px solid #000;
}

.btn-secondary {
  color: #000;
  border: 1px solid #000;
}
