<app-custom-card [title]="'Cadastre-se'">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
      />
      <div
        class="invalid-feedback"
        *ngIf="f.email.errors && f.email.errors.required"
      >
        Digite seu e-mail
      </div>
      <div
        class="invalid-feedback"
        *ngIf="f.email.errors && f.email.errors.email"
      >
        Digite um e-mail válido
      </div>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <div class="input-group">
        <input
          [type]="passwordShow ? 'text' : 'password'"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.password.errors && f.password.touched
          }"
          formControlName="password"
          id="password"
        />
        <div class="input-group-append">
          <button type="button" class="btn btn-icon-default">
            <i
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !passwordShow,
                'fa-eye': passwordShow
              }"
              (click)="togglePasswordShow()"
            ></i>
          </button>
        </div>
        <div
          class="invalid-feedback"
          *ngIf="f.password.errors && f.password.errors.required"
        >
          Digite sua senha
        </div>
      </div>
    </div>
    <password-strength-meter
      [password]="f.password.value"
    ></password-strength-meter>
    <small>
      Sua senha deve ter entre 8 e 20 caracteres, conter letras e números e não
      deve conter espaços, caracteres especiais ou emoji.
    </small>
    <div class="form-group py-2">
      <label for="confirmPassword">Confirme sua senha</label>
      <div class="input-group">
        <input
          [type]="confirmPasswordShow ? 'text' : 'password'"
          class="form-control"
          [ngClass]="{
            'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched
          }"
          formControlName="confirmPassword"
          id="confirmPassword"
        />
        <div class="input-group-append">
          <button type="button" class="btn btn-icon-default">
            <i
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !confirmPasswordShow,
                'fa-eye': confirmPasswordShow
              }"
              (click)="toggleConfirmPasswordShow()"
            ></i>
          </button>
        </div>
        <div
          class="invalid-feedback"
          *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.required"
        >
          Digite a confirmação de senha
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            f.confirmPassword.errors &&
            f.confirmPassword.errors.passwordNotMatch
          "
        >
          Confirmação de senha inválida
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Nome</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched }"
      />
      <div
        class="invalid-feedback"
        *ngIf="f.name.errors && f.name.errors.required"
      >
        Digite seu nome
      </div>
    </div>
    <div class="form-group text-center">
      <app-captcha (infoCaptchaToken)="infoCaptchaToken($event)"></app-captcha>
    </div>
    <div>
      Ao clicar em Cadastre-se, você concorda com nossos
      <a [routerLink]="['/terms']">Termos</a> e
      <a [routerLink]="['/privacy-police']">Política de Privacidade</a>.
    </div>
    <div class="d-flex justify-content-center align-middle">
      <div class="space"></div>
      <button class="btn btn-primary">Cadastre-se</button>
    </div>
  </form>
  <div class="row">
    <div class="col text-center mt-3 py-3">
      <div>Já tem cadastro?</div>
      <a [routerLink]="['/login']">Logar</a>
    </div>
  </div>
</app-custom-card>
