<div class="my-2">
  <b>
    Faq
  </b>
</div>

<div class="my-2 text-right">
  <button class="btn btn-primary" (click)="createFaqItem()">Novo</button>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getFaqItems()"
>
  <app-custom-card *ngFor="let faq of faqItems" [hasHeader]="false">
    <div class="">
      {{ faq.path }}
    </div>
    <div class="">
      <small>
        Criado em: {{ faq.createAt | date: "dd/MM/yyyy HH:mm:ss" }} / Atualizado
        em: {{ faq.updateAt | date: "dd/MM/yyyy HH:mm:ss" }}
      </small>
    </div>
    <div class="">
      <small>
        Idiomas :
        <span *ngFor="let l of faq.translations"> {{ l.language }} </span>
      </small>
    </div>
    <div class="text-right">
      <button class="btn btn-secondary" (click)="editFaqItem(faq._id)">
        Editar
      </button>
    </div>
  </app-custom-card>
</div>

<div *ngIf="isLoading" class="mb-2">Carregando...</div>
<div *ngIf="isFinish" class="mb-2">
  Não há mais resultados para serem exibidos
</div>
