<app-custom-card
  [title]="'Conversas'"
  [hasPadding]="true"
  [hasMargin]="false"
  [isLoading]="isLoading"
>
  <div class="card-talk">
    <div *ngIf="rooms.length == 0" class="info text-center">
      <p>Você ainda não iniciou nenhuma conversa</p>
      <a href="#">Clique aqui e conheça outros usuários</a>
    </div>
    <ul
      class="talks"
      *ngIf="rooms.length > 0"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="10"
      (scrolled)="getRooms()"
      [scrollWindow]="false"
    >
      <li class="talk" *ngFor="let room of rooms" (click)="goToChat(room._id)">
        <div class="card-header">
          <img
            [src]="room.members[0]?.user?.picture | imagePipe"
            [alt]="room.members[0]?.user?.name"
            class="picture"
          />
          <div class="data">
            <div class="name">
              {{ room.members[0].user?.name }}
            </div>
            <div class="date">
              {{ room.lastMessage.updateAt | dateInfoPipe }}
            </div>
          </div>
          <div class="data data--message">
            <div
              class="message"
              [ngClass]="{ 'new-message': room.lastMessage.user != userId }"
            >
              {{ room.lastMessage.message }}
            </div>
            <div class="talk-notifications" *ngIf="room.qntNotSeen > 0">
              {{ room.qntNotSeen }}
            </div>
          </div>

          <!-- <div
          class="message"
          [ngClass]="{ 'new-message': room.lastMessage.user != userId }"
        >
          {{ room.lastMessage.message }}
        </div> -->
        </div>
      </li>
    </ul>
  </div>
</app-custom-card>
