.card-talk {
  width: 100%;
  height: calc(100vh - 115px);
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    height: calc(100vh - 55px);
    padding-bottom: 50px;
  }

  .search {
    height: 50px;
  }

  .talks {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px var(--primaryColor);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(73, 73, 73, 0.8);
      -webkit-box-shadow: inset 0 0 6px var(--tertiaryColor);
    }

    .talk {
      border-bottom: 1px solid var(--tertiaryColor);
      cursor: pointer;
      display: flex;
      color: var(--textColor);

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .card-header {
        width: 100%;
        padding: 0 10px;

        .picture {
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: 10px 0;
          float: left;
        }

        .data {
          position: relative;
          width: calc(100% - 50px);
          float: right;
          padding-left: 10px;
          padding-top: 10px;

          $date-width: 60px;

          .name {
            font-weight: 600;
            float: left;
            width: calc(100% - $date-width);
            text-overflow: ellipsis;
            max-width: 70%;
            white-space: nowrap;
            overflow: hidden;
          }

          .date {
            width: $date-width;
            margin-left: auto;
            float: right;
            text-align: right;
            color: var(--textColor);
            font-size: 0.85rem;
          }
        }

        .data--message {
          padding-top: 5px;

          $notification-width: 25px;

          .message {
            float: left;
            width: calc(100% - $notification-width);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .talk-notifications {
            margin-left: auto;
            float: right;
            width: $notification-width;
            height: $notification-width;
            border-radius: 50%;
            color: #ffffff;
            background-color: var(--primaryColor);
            font-size: 0.85rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .data--message {
        padding-top: 0;
      }

      .message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        width: 100%;
      }

      .new-message {
        font-weight: 500;
      }
    }
  }
}
