<div class="bloco p-2">
  <div class="row">
    <div class="col-12 text-center">
    	<h4>Alterar Dados</h4>
    </div>
  </div>
</div>

<div class="bloco p-2">
	<form (ngSubmit)="onSubmit()" [formGroup]="usuarioForm">
	  <div class="row">
	    <div class="col-12">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Nome"
              formControlName="name"
            />
          </div> 	    	
          <div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <div class="input-group-text" id="basic-addon3">lordtube.com/perfil/</div>
			  </div>
			  <input type="text" class="form-control" formControlName="username" required>
		  </div>
		  <div class="form-group">
		    <textarea class="form-control" formControlName="description" rows="3" placeholder="Fale um pouco sobre você"></textarea>
		  </div>
          <div class="form-group">
            <input
              type="submit"
              value="Salvar"
              class="btn btn-primary float-right"
            />
          </div>		  	  
	    </div>
	  </div>
  </form>
</div>