.profile {
  width: 100%;
  position: relative;

  .cover {
    width: 100%;
    height: 150px;
    position: absolute;
    background-color: var(--tertiaryColor);
    z-index: 2;
    background: var(--coverGadgetProfile);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .image {
    width: 100px;
    margin: 0 auto;
    z-index: 3;
    position: relative;
    text-align: center;

    .user_image {
      margin-top: 100px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: inline-block;
      border: 3px solid var(--secondaryColor);
      background-color: var(--secondaryColor);
    }
  }

  .name {
    width: 100%;
    font-weight: bold;
    z-index: 3;
    position: relative;
    text-align: center;
    font-size: 1.25rem;
  }

  .description {
    width: 100%;
    z-index: 3;
    position: relative;
    text-align: center;
    font-size: 1rem;
    padding: 0 10px;
    word-wrap: break-word;
  }
}

.update-image {
  width: 30px;
  height: 30px;
  background-color: var(--secondaryColor);
  color: var(--textColor);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  cursor: pointer;
}
