<app-custom-card [hasPadding]="false" [hasHeader]="false">
  <div class="profile" *ngIf="!user">
    <div class="cover"></div>
    <div class="image">
      <div class="user_image"></div>
    </div>
    <div class="name">&nbsp;</div>
  </div>
  <div class="profile" *ngIf="user">
    <div class="cover">
      <div class="update-image" (click)="openUpdateCover()">
        <i class="fa fa-camera"></i>
      </div>
    </div>
    <div class="image">
      <div class="update-image" (click)="openUpdatePicture()">
        <i class="fa fa-camera"></i>
      </div>
      <img
        [src]="user.picture | imagePipe: 'profile'"
        [alt]="user.name"
        class="user_image"
        [routerLink]="['/p', user.username]"
      />
    </div>
    <div class="name">{{ user.name }}</div>
  </div>
</app-custom-card>
