<app-custom-card title="Compartilhe e fique entre os populares">
  <div class="container">
    <div class="row pb-3">
      <div class="col-12 pb-2">
        Compartilhe o link abaixo com seus amigos e fique entre nos populares no
        LordTube.
      </div>
    </div>
    <div class="row" *ngIf="link">
      <div class="col">
        <div class="form-group">
          <label>
            Url para compartilhamento
          </label>
          <div class="input-group mb-1">
            <input
              type="text"
              class="form-control"
              [value]="link"
              autofocus="off"
            />
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                type="button"
                (click)="copyToClipboard()"
              >
                Copiar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center mt-3" *ngIf="link">
      <div class="col-12">
        <b>Compartilhe nas redes sociais</b>
      </div>
      <div class="col-12">
        <a
          [href]="
            'https://api.whatsapp.com/send?text=' +
            this.link +
            ' Conheça o *LordTube*, a rede social para influenciadores digitais'
          "
          class="pr-2"
          target="_blank"
        >
          <img
            src="assets/img/redes-sociais/whatsapp.png"
            alt="Whatsapp logo"
            width="35px"
          />
        </a>
        <a
          [href]="'https://www.facebook.com/sharer/sharer.php?u=' + this.link"
          target="_blank"
        >
          <img
            src="assets/img/redes-sociais/facebook.png"
            alt="Facebook logo"
            width="60px"
          />
        </a>
        <a
          [href]="
            'http://twitter.com/share?url=' +
            this.link +
            '&text=Conheça o LordTube, a rede social para influenciadores digitais'
          "
          target="_blank"
        >
          <img
            src="assets/img/redes-sociais/twitter.png"
            alt="Twitter logo"
            width="60px"
          />
        </a>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-12 pb-2">
        <b>Como funciona?</b>
      </div>
      <div class="col-12 pb-2">
        Cada vez que você compartilhar, ganhará um ponto, o usuário que somar a
        maior quantidade de pontos no perídio de 24 horas ficará em destaque.
      </div>
    </div>
  </div>
</app-custom-card>
