<div class="my-2">
  <b>
    Anúncios
  </b>
</div>

<div class="my-2 text-right">
  <button class="btn btn-primary" (click)="create()">Novo</button>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getAdvents()"
>
  <app-custom-card *ngFor="let advent of advents" [hasHeader]="false">
    <div class="">
      {{ advent.title }}
    </div>
    <div class="" *ngIf="advent.image">
      <a [href]="advent.link" target="_blank">
        <img [src]="advent.image" width="300px" [alt]="advent.title" />
      </a>
    </div>
    <div class="" *ngIf="advent.htmlCode">
      Tem código html
    </div>
    <div class="">
      <small>
        Criado em: {{ advent.createAt | date: "dd/MM/yyyy HH:mm:ss" }} /
        Atualizado em: {{ advent.updateAt | date: "dd/MM/yyyy HH:mm:ss" }}
      </small>
    </div>
    <div class="text-right">
      <button class="btn btn-secondary" (click)="edit(advent._id)">
        Editar
      </button>
    </div>
  </app-custom-card>
</div>

<div *ngIf="isLoading" class="mb-2">Carregando...</div>
<div *ngIf="isFinish" class="mb-2">
  Não há mais resultados para serem exibidos
</div>
