<app-custom-card
  [title]="chatTitle"
  [hasPadding]="true"
  [hasMargin]="false"
  [isLoading]="!room"
  [hasGoBackAction]="true"
  (goBackAction)="goToTalks()"
>
  <div class="card-chat">
    <ul *ngIf="!room" class="messages">
      <li
        class="content"
        [ngClass]="{ 'content-reverse': m.type == 'left' }"
        *ngFor="let m of loadingMessages"
      >
        <div class="text-center">
          <img class="picture picture--loading" />
        </div>
        <div class="message message--loading">
          <p class="text"></p>
        </div>
      </li>
    </ul>
    <ul *ngIf="room" class="messages" #messagesUl (scroll)="onScroll()">
      <li
        class="content"
        *ngFor="let m of messages"
        [ngClass]="{ 'content-reverse': m.user == userId }"
      >
        <div class="text-center">
          <img
            [src]="members[m.user]?.picture | imagePipe"
            [alt]="members[m.user]?.name"
            class="picture"
            (click)="openUserModal(m.user)"
            [ngbTooltip]="members[m.user]?.name"
          />

          <div class="date">
            <div>
              {{ m.createAt | timePipe }}
            </div>
            <div class="day-info">
              {{ m.createAt | dateInfoPipe2 }}
            </div>
          </div>
        </div>
        <div
          class="message"
          [ngClass]="{
            'arrow-right': m.user == userId,
            'arrow-left': m.user != userId
          }"
        >
          <p class="text" *ngFor="let message of m.messages">
            {{ message }}
          </p>
        </div>
      </li>
    </ul>
    <div class="form form-message" *ngIf="room">
      <form (ngSubmit)="send()" [formGroup]="chatForm">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Digite alguma coisa..."
            formControlName="message"
          />
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-custom-card>
