.card-chat {
  width: 100%;
  height: calc(100vh - 124px);
  display: flex;
  flex-direction: column;
  z-index: 9999;

  @media (max-width: 768px) {
    height: calc(100vh - 55px);
  }
}

.messages {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scroll-behavior: var(--chatScroll);
  position: relative;

  @media (max-width: 768px) {
    height: calc(100vh - 150px);
  }

  @media (min-width: 769px) {
    flex: 1 1;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(73, 73, 73, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

.form-message {
  height: 50px;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 80%;
  margin: 0 10%;
  z-index: 9999;

  @media (max-width: 768px) {
    width: 90%;
    margin: 0 5%;
  }

  .btn-secondary {
    opacity: 1;
  }
}

.content {
  padding: 10px;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;

  .picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
  }

  .picture--loading {
    background-color: rgb(184, 184, 184) !important;
  }

  .message {
    background: #7e57c2;
    font-size: 1rem;
    line-height: 1.6em;
    border-radius: 10px;
    color: var(--secondaryColor);
    padding: 10px 20px;
    margin: 0 10px;
    position: relative;
    max-width: 80%;
    word-wrap: break-word;
    color: #ffffff;

    .text {
      margin: 5px 0;
      padding: 0;
    }
  }

  .date {
    padding-top: 5px;
    font-size: 0.85rem;
  }
}

.content-reverse {
  flex-direction: row-reverse;
  text-align: right;
  justify-content: right;

  .message {
    background: #0b5a00;
  }
}

.arrow-left {
  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 10px solid #7e57c2;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: calc(50% - 10px);
    left: -10px;
  }
}

.arrow-right {
  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid #0b5a00;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: calc(50% - 10px);
    right: -10px;
  }
}

.day-info {
  font-size: 0.75rem;
}

.message--loading {
  background-color: rgb(184, 184, 184) !important;
  width: 200px;
  height: 40px;
}
