<div class="bloco p-2">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Alterar Imagem Perfil</h4>
    </div>
  </div>
</div>

<div class="bloco p-2">
  <input type="file" (change)="fileChangeEvent($event)" />

  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 4"
    [resizeToWidth]="300"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <input
    type="submit"
    value="Salvar"
    class="btn btn-primary float-right"
    (click)="onSubmit()"
  />
</div>
