<div class="my-2">
  <b>
    Parceiros
  </b>
</div>

<div class="my-2 text-right">
  <button class="btn btn-primary" (click)="create()">Novo</button>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getPartners()"
>
  <app-custom-card *ngFor="let partner of partners" [hasHeader]="false">
    <div class="">
      {{ partner.title }}
    </div>
    <div class="">
      <img [src]="partner.banner" width="300px" />
    </div>
    <div class="">
      <small>
        Criado em: {{ partner.createAt | date: "dd/MM/yyyy HH:mm:ss" }} /
        Atualizado em: {{ partner.updateAt | date: "dd/MM/yyyy HH:mm:ss" }}
      </small>
    </div>
    <div class="text-right">
      <button class="btn btn-secondary" (click)="edit(partner._id)">
        Editar
      </button>
    </div>
  </app-custom-card>
</div>

<div *ngIf="isLoading" class="mb-2">Carregando...</div>
<div *ngIf="isFinish" class="mb-2">
  Não há mais resultados para serem exibidos
</div>
