<app-custom-card [title]="'SE CONECTE CONOSCO'">
  <div class="row">
    <div class="col-12 p-2 text-center">
      <h6>Nossas Redes Sociais</h6>
    </div>
    <div class="col-12 text-center p-2">
      <a
        href="https://www.youtube.com/channel/UCVZI95CL9ugh36qAfNYl2fg"
        target="_blank"
      >
        <img src="assets/img/redes-sociais/youtube.png" width="50px" />
      </a>
      <a href="https://facebook.com/lordtubeoficial" target="_blank">
        <img src="assets/img/redes-sociais/facebook.png" width="50px" />
      </a>
      <a href="https://instagram.com/lordtubeoficial" target="_blank">
        <img src="assets/img/redes-sociais/instagram.png" width="50px" />
      </a>
      <a href="https://twitter.com/lordtubeoficial" target="_blank">
        <img src="assets/img/redes-sociais/twitter.png" width="50px" />
      </a>
    </div>
  </div>
</app-custom-card>
